
@{
    ViewData["Title"] = "گالری";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/lightbox/ekko-lightbox.css" rel="stylesheet" />
<link href="~/css/Gallery.min.css" rel="stylesheet" />

<section class="gallery-section col-md-11 my-center">
    <div class="gallery-container">
        <h3 class="text-center title-h3 my-center mb-5">
            <span class="my-center">
                گالری
            </span>
        </h3>
        <div class="row white-card pr-2 pl-2 pt-4 pb-4 p-md-4" dir="rtl">
            <div class="col-11 col-md-3 white-card my-column pl-0 pr-0 pb-3 right-side-menu" dir="rtl">
                <h6 class="text-center text-white bgMyGreen IRANYekan p-3 m-0 mb-3">
                    <span class="text-white">گالری سایت</span>
                </h6>
                <div class="my-row pr-3">
                    <i class="mytext-green" uk-icon="grid" width="30"></i>
                    <a href="javascript:total()" class="mytext-bold mr-1 mt-1 mytext-gray text-09">همه موارد</a>
                </div>
                <hr />
                <div class="my-row pr-3">
                    <i class="mytext-green" uk-icon="images" width="30"></i>
                    <a href="javascript:photo()" class="mytext-bold mr-1 mt-1 mytext-gray text-09">تصاویر</a>
                </div>
                <hr />
                <div class="my-row pr-3">
                    <i class="mytext-green" uk-icon="play-circle" width="30"></i>
                    <a href="javascript:video()" class="mytext-bold mr-1 mt-1 mytext-gray text-09">ویدیوها</a>
                </div>
                <hr />
                <div class="my-row pr-3">
                    <i class="mytext-green" uk-icon="calendar" width="30"></i>
                    <a href="javascript:archive()" class="mytext-bold mr-1 mt-1 mytext-gray text-09 text-right">آرشیو بارگیری ها</a>
                </div>
            </div>
            <div class="col-md-9 my-column mt-4 mt-md-0" id="gallery-result">
                <div class="card-with-border mb-4 " id="gallery-photo">
                    <h3 class="text-center title-h3 my-center mb-5">
                        <span class="my-center">
                            تصاویر
                        </span>
                    </h3>
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <div class="row mb-3">
                                <a href="/img/Gallery/sample3.png" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 gallery-item mt-2 mt-md-0">
                                    <img src="/img/Gallery/sample3.png" class="img-fluid">
                                </a>
                                <a href="/img/Gallery/sample2.png" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 gallery-item mt-2 mt-md-0">
                                    <img src="/img/Gallery/sample2.png" class="img-fluid">
                                </a>
                                <a href="/img/Gallery/sample1.png" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 gallery-item mt-2 mt-md-0">
                                    <img src="/img/Gallery/sample1.png" class="img-fluid">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="edit-admin pb-5 d-none">
                        <hr />
                        <a class="btn btn-info mr-auto pl-3 float-left pr-3 mytext-white"><i uk-icon="create-outline"></i>ویرایش</a>
                    </div>
                </div>
                <div class="card-with-border mb-4" id="gallery-video">
                    <h3 class="text-center title-h3 my-center mb-5">
                        <span class="my-center">
                            ویدیوها
                        </span>
                    </h3>
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <div class="row mb-3">
                                <a href="/img/Gallery/video/video-sample.mp4" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-6 gallery-item mt-2 mt-md-0">
                                    <video class="img-fluid" controls>
                                        <source src="/img/Gallery/video/video-sample.mp4" type="video/mp4" />
                                    </video>
                                </a>
                                <a href="/img/Gallery/video/video-sample.mp4" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-6 gallery-item mt-2 mt-md-0">
                                    <video class="img-fluid" controls>
                                        <source src="/img/Gallery/video/video-sample.mp4" type="video/mp4" />
                                    </video>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="edit-admin pb-5 d-none">
                        <hr />
                        <a class="btn btn-info mr-auto pl-3 float-left pr-3 mytext-white"><i uk-icon="create-outline"></i>ویرایش</a>
                    </div>
                </div>
                <div class="card-with-border mb-4" id="gallery-archive">
                    <h3 class="text-center title-h3 my-center mb-5">
                        <span class="my-center">
                            آرشیو بارگیری ها
                        </span>
                    </h3>
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <div class="row mb-3">
                                <a href="/img/Gallery/video/video-sample.mp4" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 gallery-item mt-2 mt-md-0">
                                    <video class="img-fluid" controls>
                                        <source src="/img/Gallery/video/video-sample.mp4" type="video/mp4" />
                                    </video>
                                </a>
                                <a href="/img/Gallery/sample2.png" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 gallery-item mt-2 mt-md-0">
                                    <img src="/img/Gallery/sample2.png" class="img-fluid">
                                </a>
                                <a href="/img/Gallery/video/video-sample.mp4" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 gallery-item mt-2 mt-md-0">
                                    <video class="img-fluid" controls>
                                        <source src="/img/Gallery/video/video-sample.mp4" type="video/mp4" />
                                    </video>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="edit-admin pb-5 d-none">
                        <hr />
                        <a class="btn btn-info mr-auto pl-3 float-left pr-3 mytext-white"><i uk-icon="create-outline"></i>ویرایش</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>   
    var photoSection = document.getElementById("gallery-photo");
    var videoSection = document.getElementById("gallery-video");
    var archiveSection = document.getElementById("gallery-archive");

    function archive() {
        photoSection.classList.add("d-none");
        videoSection.classList.add("d-none");
        archiveSection.classList.remove("d-none");
    }
    function photo() { 
        archiveSection.classList.add("d-none");
        videoSection.classList.add("d-none");
        photoSection.classList.remove("d-none");
    }
    function video() {
        archiveSection.classList.add("d-none");
        photoSection.classList.add("d-none");
        videoSection.classList.remove("d-none");
    }
    function total() {
        archiveSection.classList.remove("d-none");
        photoSection.classList.remove("d-none");
        videoSection.classList.remove("d-none");
    }

</script>