@model DataLayer.Models.TblCatagory
<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">
        ویرایش دسته بندی @Model.Name
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form asp-action="Edit" asp-controller="Catagory" asp-area="Admin" enctype="multipart/form-data"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-complete="EndCatagoryCreate()"
      data-ajax-update="#ajaxresult">

    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="CatagoryId" />
    <input type="hidden" asp-for="ParentId" />
    <div class="modal-body">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="Name">نام</label>
                <input asp-for="Name" class="form-control form-control-sm" placeholder="مثال : لوازم " required>
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="NameAr">نام عربی</label>
                <input asp-for="NameAr" class="form-control form-control-sm" placeholder="مثال : لوازم " required>
                <span class="text-danger" asp-validation-for="NameAr"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="NameEn">نام انگلیسی</label>
                <input asp-for="NameEn" dir="ltr" class="form-control form-control-sm" placeholder="example" required>
                <span class="text-danger" asp-validation-for="NameEn"></span>
            </div>

        </div>
    </div>
    <div class="modal-footer justify-content-end">
        <span id="Erorr" class="text-danger"></span>
        <button type="submit" class="btn btn-success btn-sm text-white">ویرایش<span class="icon-holder uk-margin-small-right" uk-icon="create-outline"></span></button>
    </div>
</form>

<script src="~/Validate/jquery.validate.min.js"></script>
<script src="~/Validate/jquery.validate.unobtrusive.js"></script>