@model ConfigVm
<a href="https://www.instagram.com/@Model.Inista/"><img class="side-item" src="~/img/static-layout/Instagram-logo-PNG.png" /></a>
<a href="https://api.whatsapp.com/send?phone=@Model.Whatsapp"><img class="mt-2 side-item" src="~/img/static-layout/watsapp.png" /></a>