
@{
    ViewData["Title"] = "تماس با ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/contact.min.css" rel="stylesheet" />

<section class="contact-us-section col-md-10 my-center">
    <h3 class="text-center title-h3 my-center mb-5">
        <span class="my-center">
            تماس با ما
        </span>
    </h3>
    <div class="white-card  pr-2 pl-2 pt-4 pb-4 p-md-4" >
        <div class="text-right" dir="rtl">
            <i class="mytext-red" uk-icon="location" width="35"></i>
            <span class="mytext-bold text-1"> آدرس دفتر مرکزی </span>: ایران / استان آذربایجان شرقی / تبریز / بلوار استاد شهریار / جنب اداره کل بهزیستی / ساختمان 22 / طبقه 5 / واحد<span> E     </span>
        </div>
        <div class="col-md-10 mt-5 my-center text-left pr-0 pl-0">
            <div class="row">
                <div class="my-row col-md-5 text-left">
                    <i class="mytext-green mt-2" uk-icon="call" width="30"></i>
                    <div class="my-column" dir="rtl">
                        <span class="mytext-bold ml-1 text-1">1047 3310 041</span>
                        <span class="mytext-bold ml-1 text-1">1099 3310 041</span>
                    </div>
                </div>
                <div class="my-row col-md-5 text-left">
                    <i class="mytext-green" uk-icon="mail" width="30"></i>
                    <a href="#" class="mytext-bold ml-1 text-1 mt-1">artatiyammaham@chmail.ir</a>
                </div>

            </div>
            <div class="row mt-4">
                <div class="my-row  col-md-5 text-left">
                    <i class="mytext-green" uk-icon="logo-instagram" width="30"></i>
                    <a href="#" class="mytext-bold ml-1 text-1 mt-1">arta.tiyammaham</a>
                </div>
                <div class="my-row col-md-5 text-left">
                    <i class="mytext-green" uk-icon="logo-whatsapp" width="30"></i>
                    <a href="#" class="mytext-bold ml-1 text-1 mt-1">+98 9141245761</a>
                </div>
            </div>
        </div>
    </div>
    <h3 class="text-center title-h3 my-center mb-5 mt-5">
        <span class="my-center">
            ارتباط مستقیم
        </span>
    </h3>
    <div class="white-card p-4" dir="rtl">
        <div class="row">
            
        </div>
    </div>
</section>

