
@{
    ViewData["Title"] = "اعلام همکاری";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/contact.min.css" rel="stylesheet" />

<section class="cooperation-section col-md-10 my-center">
    <h3 class="text-center title-h3 my-center mb-3 mb-md-4">
        <span class="my-center">
            اعلام همکاری
        </span>
    </h3>
    <p class="paragragh text-right">
        . تجار ، کشاورزان و کارخانجات با درج اطلاعات خود از طریق واتساپ یا ایمیل می توانند اعلام همکاری در خصوص فروش محصولاتشان را داشته باشند
    </p>
    <h6 class="text-right mytext-green IRANYekan mytext-bold">
        شرایط اولیه
    </h6>

    <div class="my-column mt-3" dir="rtl">
        <div class="my-row mt-2">
            <i class="mytext-gold" uk-icon="chevron-back-circle" width="40"></i>
            <label class="mr-2 mt-2 text-right">
                <span class="mytext-bold mr-0">قابلیت صادراتی بودن کالا : </span> سالم ، دارای مجوز استاندارد و صادرات ، کالاهای مشروع
            </label>
        </div>
        <div class="my-row mt-2">
            <i class="mytext-gold" uk-icon="chevron-back-circle" width="40"></i>
            <label class="mr-2 mt-2 mytext-bold">
                انعطاف در خصوص غیر انحصاری بودن کالا
            </label>
        </div>
        <div class="my-row mt-2">
            <i class="mytext-gold" uk-icon="chevron-back-circle" width="40"></i>
            <label class="mr-2 mt-2 mytext-bold">
                کالاهای با تناژ و تعداد بالا
            </label>
        </div>
    </div>
</section>
@*form section*@

