@model NegotiationVm
@{
    ViewData["Title"] = "اعلام همکاری";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/contact.min.css" rel="stylesheet" />

<section class="cooperation-section col-md-10 my-center">
    <h3 class="text-center title-h3 my-center mb-3 mb-md-4">
        <span class="my-center">
            اعلام همکاری
        </span>
    </h3>
    <p class="paragragh text-right">
        . تجار ، کشاورزان و کارخانجات با درج اطلاعات خود از طریق واتساپ یا ایمیل می توانند اعلام همکاری در خصوص فروش محصولاتشان را داشته باشند
    </p>
    <h6 class="text-right mytext-green IRANYekan mytext-bold">
        شرایط اولیه
    </h6>

    <div class="my-column mt-3" dir="rtl">
        <div class="my-row mt-2">
            <i class="mytext-gold" uk-icon="chevron-back-circle" width="40"></i>
            <label class="mr-2 mt-2 text-right">
                <span class="mytext-bold mr-0">قابلیت صادراتی بودن کالا : </span> سالم ، دارای مجوز استاندارد و صادرات ، کالاهای مشروع
            </label>
        </div>
        <div class="my-row mt-2">
            <i class="mytext-gold" uk-icon="chevron-back-circle" width="40"></i>
            <label class="mr-2 mt-2 mytext-bold">
                انعطاف در خصوص غیر انحصاری بودن کالا
            </label>
        </div>
        <div class="my-row mt-2">
            <i class="mytext-gold" uk-icon="chevron-back-circle" width="40"></i>
            <label class="mr-2 mt-2 mytext-bold">
                کالاهای با تناژ و تعداد بالا
            </label>
        </div>
    </div>
    <div class="edit-admin pb-5 d-none">
        <hr />
        <a class="btn btn-info mr-auto pl-3 float-left pr-3 text-white mytext-white"><i uk-icon="create-outline"></i>ویرایش</a>
    </div>
</section>
@*form section*@

<section class="form-section col-md-10 my-center">
    <h3 class="text-center title-h3 my-center mb-5">
        <span class="my-center">
            فرم درخواست مذاکره
        </span>
    </h3>
    <div class="form-container white-card p-4" dir="rtl">
        @if (Context.Request.Query["SendForm"].ToString() == "true")
        {
            <div class="alert alert-success">
                <p class="help-block">پیام شما ارسال شد</p>
            </div>
        }
        <form asp-action="Cooperation" method="post">
            <div class="form-row mt-md-2">
                <div class="form-group col-md-6 col-lg-5 ">
                    <input type="text" class="form-control" asp-for="Name" id="Name" placeholder="نام و نام خانوادگی :  ">
                    <span class="text-danger" asp-validation-for="Name"></span>

                </div>
                <div class="form-group col-md-6 col-lg-5 mr-lg-auto">
                    <input type="text" class="form-control" asp-for="FromCountry" id="FromCountry" placeholder="نام کشور : ">
                    <span class="text-danger" asp-validation-for="FromCountry"></span>
                </div>
            </div>
            <div class="form-row mt-md-2">
                <div class="form-group col-md-6 col-lg-5">
                    <input type="tel" class="form-control" asp-for="TellNo" id="TellNo" placeholder="شماره واتساپ جهت ارتباط :  ">
                    <span class="text-danger" asp-validation-for="TellNo"></span>

                </div>
                <div class="form-group col-md-4 col-lg-3 mr-lg-auto">
                    <select id="Product" class="form-control" asp-for="Product">
                        <option selected value="">نوع محصول درخواستی : </option>
                        <option value="میوه جات">میوه جات</option>
                        <option value="گروه مواد غذایی">گروه مواد غذایی</option>
                        <option value="سایر">سایر</option>
                    </select>
                    <span class="text-danger" asp-validation-for="Product"></span>

                </div>
                <div class="form-group col-md-2 col-lg-2">
                    <select id="Amount" class="form-control" asp-for="Amount">
                        <option selected value="">تناژ مورد نیاز : </option>
                        <option value="20-40">20-40</option>
                        <option value="41-100">41-100</option>
                        <option value="101-500">101-500</option>
                        <option value="سایر">سایر</option>
                    </select>
                    <span class="text-danger" asp-validation-for="Amount"></span>

                </div>
            </div>

            <div class="form-row mt-md-2">
                <div class="form-group col-md-6 col-lg-5">
                    <input type="number" class="form-control" asp-for="PersonalityCode" id="PersonalityCode" placeholder="کد ملی : ">
                    <span class="text-danger" asp-validation-for="PersonalityCode"></span>
                </div>
            </div>

            <div class="form-group purple-border mt-md-2">
                <textarea class="form-control" id="Description" rows="3" asp-for="Description" placeholder="مشخصات مختصری از محصول درخواستی :"></textarea>
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>

            <button type="submit" class="btn bgMyGreen text-white col-12 mt-2">ارسال</button>
        </form>
    </div>
    @*<div class="edit-admin pb-5 d-none">
            <hr />
            <a class="btn btn-info mr-auto pl-3 float-left pr-3 text-white mytext-white"><i uk-icon="create-outline"></i>ویرایش</a>
        </div>*@
</section>

@section Script {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
