
@{
    ViewData["Title"] = "Contact Us";
    Layout = "~/Views/Shared/_EnLayout.cshtml";
}

<link href="~/css/contact.min.css" rel="stylesheet" />
<link href="~/css/leaflet.css" rel="stylesheet" />
<link href="~/css/EnVersion.min.css" rel="stylesheet" />

<section class="contact-us-section col-md-10 my-center">
    <h3 class="text-center title-h3 my-center mb-5">
        <span class="my-center">
            Contact us
        </span>
    </h3>
    <div class="white-card pr-2 pl-2 pt-4 pb-4 p-md-4">
        <div class="text-left" dir="ltr">
            <i class="mytext-red" uk-icon="location" width="35"></i>
            <span class="mytext-bold text-1"> Head Office Address:  </span> Iran / East Azarbaijan Province / Tabriz / Ostad Shahriyar Boulevard / Next to the General Welfare Office / Building 22 / 5th Floor / Unit E
        </div>
        <div class="col-md-10 mt-5 my-center text-left pr-0 pl-0">
            <div class="row">
                <div class="my-row col-md-5 text-left">
                    <i class="mytext-green mt-2" uk-icon="call" width="30"></i>
                    <div class="my-column" dir="rtl">
                        <span class="mytext-bold ml-1 text-1">1047 3310 041</span>
                        <span class="mytext-bold ml-1 text-1">1099 3310 041</span>
                    </div>
                </div>
                <div class="my-row col-md-5 text-left">
                    <i class="mytext-green" uk-icon="mail" width="30"></i>
                    <a href="mailto:artatiyammaham@chmail.ir" class="mytext-bold ml-1 text-1 mt-1">artatiyammaham@chmail.ir</a>
                </div>

            </div>
            <div class="row mt-4">
                <div class="my-row  col-md-5 text-left">
                    <i class="mytext-green" uk-icon="logo-instagram" width="30"></i>
                    <a href="https://www.instagram.com/arta.tiyammaham/" class="mytext-bold ml-1 text-1 mt-1">arta.tiyammaham</a>
                </div>
                <div class="my-row col-md-5 text-left">
                    <i class="mytext-green" uk-icon="logo-whatsapp" width="30"></i>
                    <a href="https://wa.me/+989141245761" class="mytext-bold ml-1 text-1 mt-1">+98 9141245761</a>
                </div>
            </div>
        </div>
    </div>
    <h3 class="text-center title-h3 my-center mb-5 mt-5">
        <span class="my-center">
            Direct Contact
        </span>
    </h3>
    <div class="white-card pt-4 pb-4 pl-2 pr-2 p-md-4 my-center" dir="ltr">
        <div class="row">
            <div class="col-md-6 text-left">
                <span class="mytext-bold text-1 mytext-green"> Managing Director (Safari Engineer): </span><span class="ml-1"> +98 9141245761 </span>
            </div>
            <div class="col-md-6 text-left mt-2 mt-md-0">
                <span class="mytext-bold text-1 mytext-green"> Chairman of the Board (Mr Asghari):  </span><span class="ml-1"> +98 9144239397</span>
            </div>
        </div>
    </div>
    <div class="edit-admin pb-5 d-none">
        <hr />
        <a class="btn btn-info mr-auto pl-3 float-left pr-3 text-white mytext-white"><i uk-icon="create-outline"></i>ویرایش</a>
    </div>
</section>

@*map section*@

<section class="col-md-10 my-center mt-5 mb-5">
    <div id="map" class="map my-center"></div>
</section>

<script src="~/js/leaflet.js"></script>
<script>
    var map = L.map('map').setView([38.07674409597339, 46.29700302496196], 12);

    L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);


    var iconSetting = L.Icon.extend({
        options: {
            iconSize: [28, 40],
            iconAnchor: [12, 35]
        }
    });
    var customIcon = new iconSetting({ iconUrl: '/green-location.png' });
    var theMarker = {};
    theMarker = L.marker([38.06600, 46.33020],
        { icon: customIcon }).addTo(map).bindPopup(
            `<h6 class='mytext-darkBlue'>آرتا تیام مهام</h6>`
        );
</script>


