@model NegotiationEnVm
@{
    ViewData["Title"] = "Cooperation";
    Layout = "~/Views/Shared/_EnLayout.cshtml";
}

<link href="~/css/contact.min.css" rel="stylesheet" />
<link href="~/css/EnVersion.min.css" rel="stylesheet" />


<section class="cooperation-section col-md-10 my-center">
    <h3 class="text-center title-h3 my-center mb-3 mb-md-4">
        <span class="my-center">
            Announcement of cooperation
        </span>
    </h3>
    <p class="paragragh" dir="ltr">
        Merchants, farmers and factories can announce their cooperation in selling their products by entering their information via WhatsApp or email.
    </p>
    <h6 class="text-left mytext-green mytext-bold ">
        preliminary conditions
    </h6>

    <div class="my-column mt-3" dir="ltr">
        <div class="my-row mt-2">
            <i class="mytext-gold" uk-icon="chevron-forward-circle" width="40"></i>
            <label class="ml-2 mt-2 text-left">
                <span class="mytext-bold mr-0">Ability to export goods:  </span> healthy, with a standard license and export, legitimate goods
            </label>
        </div>
        <div class="my-row mt-2">
            <i class="mytext-gold" uk-icon="chevron-forward-circle" width="40"></i>
            <label class="ml-2 mt-2 mytext-bold text-left">
                Flexibility regarding non-exclusivity of goods
            </label>
        </div>
        <div class="my-row mt-2">
            <i class="mytext-gold" uk-icon="chevron-forward-circle" width="40"></i>
            <label class="ml-2 mt-2 mytext-bold text-left">
                Goods with high tonnage and number
            </label>
        </div>
    </div>
    <div class="edit-admin pb-5 d-none">
        <hr />
        <a class="btn btn-info mr-auto pl-3 float-right pr-3 text-white mytext-white"><i uk-icon="create-outline"></i>ویرایش</a>
    </div>
</section>
@*form section*@

<section class="form-section col-md-10 my-center">
    <h3 class="text-center title-h3 my-center mb-5">
        <span class="my-center">
            Negotiation request form
        </span>
    </h3>
    <div class="form-container white-card p-4" dir="ltr">
        @if (Context.Request.Query["SendForm"].ToString() == "true")
        {
            <div class="alert alert-success">
                <p class="help-block">Your message has been sent</p>
            </div>
        }
    <form asp-action="EnCooperation" method="post">
        <div class="form-row mt-md-2">
            <div class="form-group col-md-6 col-lg-5 ">
                <input type="text" class="form-control" asp-for="Name" id="Name" placeholder="Name and surname:  ">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="form-group col-md-6 col-lg-5 ml-lg-auto">
                <input type="text" class="form-control" asp-for="FromCountry" id="FromCountry" placeholder="From the country: ">
                <span class="text-danger" asp-validation-for="FromCountry"></span>
            </div>
        </div>
        <div class="form-row mt-md-2">
            <div class="form-group col-md-6 col-lg-5">
                <input type="tel" class="form-control" asp-for="TellNo" id="TellNo" placeholder="WhatsApp number for communication:  ">
                <span class="text-danger" asp-validation-for="TellNo"></span>
            </div>
            <div class="form-group col-md-4 col-lg-3 ml-lg-auto">
                <select id="Product" class="form-control" asp-for="Product">
                    <option selected value="">Requested product type: </option>
                    <option value="Fruitage">Fruitage</option>
                    <option value="Food group">Food group</option>
                    <option value="Other">Other</option>
                </select>
                <span class="text-danger" asp-validation-for="Product"></span>
            </div>
            <div class="form-group col-md-2 col-lg-2 ">
                <select id="Amount" class="form-control" asp-for="Amount">
                    <option selected value="">Required tonnage: </option>
                    <option value="20-40">20-40</option>
                    <option value="41-100">41-100</option>
                    <option value="101-500">101-500</option>
                    <option value="Other">Other</option>
                </select>
                <span class="text-danger" asp-validation-for="Amount"></span>
            </div>

        </div>
        <div class="form-row mt-md-2">
            <div class="form-group col-md-6 col-lg-5">
                <input type="number" class="form-control" asp-for="PersonalityCode" id="PersonalityCode" placeholder="Personality Code: ">
                <span class="text-danger" asp-validation-for="PersonalityCode"></span>
            </div>
        </div>
        <div class="form-group purple-border mt-md-2">
            <textarea class="form-control" id="Description" rows="3" asp-for="Description" placeholder="Brief specifications of the requested product: "></textarea>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>

        <button type="submit" class="btn bgMyGreen text-white col-12 mt-2">Send</button>
    </form>
    </div>
    <div class="edit-admin pb-5 d-none">
        <hr />
        <a class="btn btn-info mr-auto pl-3 float-left pr-3 text-white mytext-white"><i uk-icon="create-outline"></i>ویرایش</a>
    </div>
</section>

@section Script {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
