@model DataLayer.ViewModels.ConfigVm
@{
    ViewData["Title"] = "تنظیمات سایت";
}

<div class="row flex-div">
    <div class="col-md-12 flex-div pb-3 pt-3">
        <div class="card flex-div border-0 main-shadow">
            <div class="card-header bg-white">
            </div>
            <div id="card-table" class="card-body flex-div">
                <form class="form-row mt-3 fixed overflow-auto" asp-action="Index" asp-controller="Config" asp-area="Admin"
                      data-ajax="true"
                      data-ajax-method="POST"
                      data-ajax-mode="replace"
                      data-ajax-complete="EndCatagoryCreate()"
                      data-ajax-update="#ajaxresult">
                    <div class="form-group col-lg-12 mt-lg-3">
                        <label>  توضیحات کوتاه در فوتر :</label>
                        <textarea asp-for="TozihatShekatFooter" class="form-control form-control-sm d-inline-block d-sm-block col-lg-12" placeholder="..."></textarea>
                        <br /><span class="text-danger" asp-validation-for="TozihatShekatFooter"></span>
                    </div>
                    <div class="form-group  col-lg-12 mt-lg-3">
                        <label>آدرس</label>
                        <input asp-for="Address" class="form-control form-control-sm d-inline-block d-sm-block col-lg-12 float-left">
                        <br /><span class="text-danger" asp-validation-for="Address"></span>
                    </div>
                    <div class="form-group col-lg-12 mt-lg-3">
                        <label>اینیستا</label>
                        <input asp-for="Inista" class="form-control form-control-sm d-inline-block d-sm-block col-lg-12 float-left">
                        <br /><span class="text-danger" asp-validation-for="Inista"></span>
                    </div>
                    <div class="form-group col-lg-12 mt-lg-3">
                        <label>واتساب</label>
                        <input asp-for="Whatsapp" class="form-control form-control-sm d-inline-block d-sm-block col-lg-12 float-left">
                        <br /><span class="text-danger" asp-validation-for="Whatsapp"></span>
                    </div>
                    <div class="form-group col-lg-12 mt-lg-3">
                        <label>موبایل در فوتر سایت</label>
                        <input asp-for="TellMobile" class="form-control form-control-sm d-inline-block d-sm-block col-lg-12 float-left">
                        <br /><span class="text-danger" asp-validation-for="TellMobile"></span>
                    </div>
                    <div class="form-group col-lg-12 mt-lg-3">
                        <label>موبایل مدیر عامل</label>
                        <input asp-for="TellModirAmel" class="form-control form-control-sm d-inline-block d-sm-block col-lg-12 float-left">
                        <br /><span class="text-danger" asp-validation-for="TellModirAmel"></span>
                    </div>
                    <div class="form-group col-lg-12 mt-lg-3">
                        <label>موبایل رئیس هیئت مدیره</label>
                        <input asp-for="TellRaisHyatModire" class="form-control form-control-sm d-inline-block d-sm-block col-lg-12 float-left">
                        <br /><span class="text-danger" asp-validation-for="TellRaisHyatModire"></span>
                    </div>
                    <div class="form-group col-lg-12 mt-lg-3">
                        <label>شماره تلفن 1</label>
                        <input asp-for="TellHome1" class="form-control form-control-sm d-inline-block d-sm-block col-lg-12 float-left">
                        <br /><span class="text-danger" asp-validation-for="TellHome1"></span>
                    </div>
                    <div class="form-group col-lg-12 mt-lg-3">
                        <label>شماره تلفن 2</label>
                        <input asp-for="TellHome2" class="form-control form-control-sm d-inline-block d-sm-block col-lg-12 float-left">
                        <br /><span class="text-danger" asp-validation-for="TellHome2"></span>
                    </div>
                    <div class="form-group col-lg-12 mt-lg-3">
                        <label>ایمیل</label>
                        <input asp-for="Email" class="form-control form-control-sm d-inline-block d-sm-block col-lg-12 float-left">
                        <br /><span class="text-danger" asp-validation-for="Email"></span>
                    </div>


                    <button type="submit" class="btn btn-success btn-sm text-white">ثبت تغییرات<span class="icon-holder uk-margin-small-right" uk-icon="create-outline"></span></button>
                </form>
            </div>

            <div class="card-footer bg-white text-left">
                <nav aria-label="Page navigation example">
                    @*@await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })*@
                </nav>
            </div>
        </div>
    </div>
</div>

@section Script{
    <script src="~/js/bootstrap-tagsinput.js"></script>
    <script src="~/js/Auto_Formatting_Currency.js"></script>
    <script>
        $(function () {
            $('#SharyeteErsal').ckeditor();
            $('#OrderDetails').ckeditor();
            $('#DarBareyeMa').ckeditor();
        });


    </script>
    <script src="~/Validate/jquery.validate.min.js"></script>
    <script src="~/Validate/jquery.validate.unobtrusive.js"></script>
}
