@model TblConfig
@{
    ViewData["Title"] = "درباره مدیر عامل";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/About.min.css" rel="stylesheet" />


<section class="about-ceo-section my-center">
    <h3 class="text-center title-h3 my-center mb-5">
        <span class="my-center">
            درباره مدیر عامل
        </span>
    </h3>
    <div class="about-container pt-2">
        <div class="img-container ml-md-5">
            <img src="~/Images/DarnareModiamelImg/@ViewBag.SelectedConfigImg" width="300" />
        </div>
        <div class="content-container pt-5 pt-md-0 my-column text-right" dir="rtl">
            @Html.Raw(Model.Value)

            @*<span class="mytext-bold mytext-green IRANYekan">
                مهندس: رویا صفری
            </span>
            <span class="text-08">
                کارشناس ارشد بازرگانی بین الملل
            </span>
            <span class="mytext-green text-09">
                با ۱۷ سال سابقه مدیریت
            </span>
            <span>
                دارای گواهینامه  services marketing از آکادمی Ics group
            </span>
            <span>
                گواهینامه  services marketing از آکادمی Anccp
            </span>
            <span>
                گواهینامه C.MBA ، گرایش sales management از آکادمی BRS
            </span>
            <span>
                گواهینامه sales management and marketing  از آکادمی TUV NORD
            </span>
            <span>
                گواهینامه sales  & marketing   از آکادمی ANCCP
            </span>
            <span>
                گواهینامه ایزو customer  Relationships  management از آکادمی IQS
            </span>
            <span class="mytext-bold mytext-green IRANYekan">
                گواهینامه های :
            </span>
            <span>
                M.B.A گرایش بازاریابی و فروش ، C.M.BA ، بازاریابی چریکی
                از مرکز آموزش بازرگانی ایران

            </span>
            <span>
                گواهینامه کارشناسی تخصصی روابط عمومی خارجی از سازمان مدیریت و برنامه ریزی کشور
                <br /><br />  و...

            </span>*@
        </div>
    </div>
    <div class="text-md-left ml-md-5 mt-3 mb-3">
        <a class="btn bgMyGold"  href="https://api.whatsapp.com/send?phone=@(ViewBag.SelectedWhatsapp)" target="_blank">
            ارتباط مستقیم با مدیر عامل از طریق واتساپ
            <i class="mytext-green" uk-icon="logo-whatsapp" width="30"></i>
        </a>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="edit-admin pb-5">
            <hr />
            <a href="/Admin/Config/DarnareModiamel" class="btn btn-info mr-auto pl-3 float-left pr-3 text-white mytext-white"><i uk-icon="create-outline"></i>ویرایش</a>
        </div>
    }
</section>

