
@{
    ViewData["Title"] = "درباره ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/css/About.min.css" rel="stylesheet" />

<section class="about-us-section my-center">
    <h3 class="text-center d-none mobile-header">
        <span>
            درباره ما
        </span>
    </h3>
    <div class="about-container my-center pt-2">
        <div class="img-container">
            <img src="~/img/about.png" width="300" />
        </div>
        <div class="content-container pt-5 pt-md-0">
            <h3 class="text-center desktop-header">
                <span>
                    درباره ما
                </span>
            </h3>
            <p class=" paragragh pt-md-4 text-dark" dir="rtl">
                شرکت بازرگانی آرتا تیام مهام به شماره ثبت 49969 (سهامی خاص) و شناسه ملی 14008888789 و تاسیس 1398 و بازرگانی تیام آذر سابق با 15 سال سابقه (در مجموع 17 سال  سابقه فعالیت مستمر ) در زمینه صادرات و واردات کالاهای مجاز بازرگانی ، ترخیص کالا ،تامین کالا ،ترخیص کاری ، اخذ تسهیلات بانکی لازم جهت انجام سرمایه گذاری ، شرکت در مناقصه ها و مزایده های دولتی و غیر دولتی ایرانی و خارجی مشغول به فعالیت می باشد
            </p>
            <p class=" paragragh pt-md-2 text-dark" dir="rtl">
                شرکت آرتا تیام مهام بر خود تعهد می داند با عقد قراردادهای منتفع الطرفین با گارانتی کامل، تامین و صادر کلیه سفارشات کشورهای مقصد را با بهترین شرکت های حمل و نقل زمینی و دریایی در اسرع وقت با نازلترین قیمت و برترین کیفیت در اختیار تجار محترم قرار دهد
            </p>
        </div>
    </div>
    <div class="my-column mt-3" dir="rtl">
        <div class="my-row mt-2">
            <i class="mytext-gold" uk-icon="chevron-back-circle" width="40"></i>
            <label class="text-09 mr-2 mt-2 text-right mytext-bold">
                متخصص در امورصادرات و واردات میوه جات و گروه مواد غذایی
            </label>
        </div>
        <div class="my-row mt-2">
            <i class="mytext-gold" uk-icon="chevron-back-circle" width="40"></i>
            <label class="text-09 mr-2 mt-2 text-right mytext-bold">
                این بازرگانی مجموعه ای است از دایره تجار ، سرمایه گذاران ، ترخیص کاران ، گمرک کاران ، مترجمین ، وکیل حقوقی ، مشاورین متخصص تجاری ، بروکر و کارگزاری های خبره ، روابط عمومی ، حسابداری و ...
            </label>
        </div>
        <div class="my-row mt-2">
            <i class="mytext-gold" uk-icon="chevron-back-circle" width="40"></i>
            <label class="text-09 mr-2 mt-2 text-right mytext-bold">
                در ارتباط مستقیم با بیش از 700 کشاورز چهار فصل ایرانی و تولیدکنندگان با تولیدات مشمول مجوز صادرات و استانداردهای کالاهای با قابلیت خروجی
            </label>
        </div>
    </div>

    <div class="edit-admin pb-5 d-none">
        <hr />
        <a class="btn btn-info mr-auto pl-3 float-left pr-3 text-white mytext-white"><i uk-icon="create-outline"></i>ویرایش</a>
    </div>

    <h3 class="text-center title-h3 my-center mb-5 mt-5">
        <span class="my-center">
            اعضای هیأت مدیره
        </span>
    </h3>
    <div class="Staff-container grid my-center" dir="rtl">
        <div class="whiteCard my-column my-center">
            <div class="img-container my-center mt-4">
                <img src="~/img/profile-sample.png" />
            </div>
            <span class="mytext-green mt-5 mytext-bold bgMyGold IRANYekan text-08 pt-1 pb-1">
                مدیر عامل
            </span>
            <span class="mt-2">
                رویا صفری
            </span>
        </div>
        <div class="whiteCard my-column my-center">
            <div class="img-container my-center mt-4">
                <img src="~/img/profile-sample.png" />
            </div>
            <span class="mytext-green mt-5 mytext-bold bgMyGold IRANYekan text-08 pt-1 pb-1">
                رئیس هیأت مدیره
            </span>
            <span class="mt-2">
                عیسی اصغری
            </span>
        </div>

        <div class="whiteCard my-column my-center">
            <div class="img-container my-center mt-4">
                <img src="~/img/profile-sample.png" />
            </div>
            <span class="mytext-green mt-5 mytext-bold bgMyGold IRANYekan text-08 pt-1 pb-1">
                عضو هیئت مدیره
            </span>
            <span class="mt-2">
                روحیه شیخ الاسلامی
            </span>
        </div>
        <div class="whiteCard my-column my-center">
            <div class="img-container my-center mt-4">
                <img src="~/img/profile-sample.png" />
            </div>
            <span class="mytext-green mt-5 mytext-bold bgMyGold IRANYekan text-08 pt-1 pb-1">
                بازرس اصلی
            </span>
            <span class="mt-2">
                بهنام بادنوا
            </span>
        </div>
        <div class="whiteCard my-column my-center">
            <div class="img-container my-center mt-4">
                <img src="~/img/profile-sample.png" />
            </div>
            <span class="mytext-green mt-5 mytext-bold bgMyGold IRANYekan text-08 pt-1 pb-1">
                بازرس علی البدل
            </span>
            <span class="mt-2">
                مهدی دده بیگلو
            </span>
        </div>
    </div>
    <div class="edit-admin pb-5 d-none">
        <hr />
        <a class="btn btn-info mr-auto pl-3 float-left pr-3 text-white mytext-white"><i uk-icon="create-outline"></i>ویرایش</a>
    </div>
</section>

