
@{
    ViewData["Title"] = "EnAboutCEO";
    Layout = "~/Views/Shared/_EnLayout.cshtml";
}

<link href="~/css/About.min.css" rel="stylesheet" />
<link href="~/css/EnVersion.min.css" rel="stylesheet" />

<section class="about-ceo-section my-center">
    <h3 class="text-center title-h3 my-center mb-5">
        <span class="my-center Sens-serif">
            About the CEO
        </span>
    </h3>
    <div class="about-container pt-2" dir="rtl">
        <div class="img-container ml-md-5">
            <img src="~/img/CEO.png" width="300" />
        </div>
        <div class="content-container pt-5 pt-md-0 my-column text-left" dir="ltr">
            <span class="mytext-bold mytext-green Sens-serif">
                Engineer: Roya Safari
            </span>
            <span class="text-08">
                Master of International Business
            </span>
            <span class="mytext-green text-09">
                With 17 years of management experience
            </span>
            <span>
                Holds services marketing certification from Ics group academy
            </span>
            <span>
                Services marketing certification from Anccp Academy
            </span>
            <span>
                C.MBA Certificate, Sales Management major from BRS Academy
            </span>
            <span>
                Certificate in sales management and marketing from TUV NORD Academy
            </span>
            <span>
                Sales & marketing certification from ANCCP Academy
            </span>
            <span>
                ISO Customer Relationships management certification from IQS Academy
            </span>
            <span class="mytext-bold mytext-green Sens-serif">
                Certificates:
            </span>
            <span>
                M.B.A Marketing and Sales Orientation, C.M.BA, Guerrilla Marketing From Iran Business Training Center
            </span>
            <span>
                Certificate of expertise in foreign public relations from the country's management and planning organization
                <br /><br />  And ...

            </span>
        </div>
    </div>
    <div class="text-md-right mr-md-1 mt-3 mb-3">
        <a class="btn bgMyGold" href="https://wa.me/09141245761">
            <i class="mytext-green" uk-icon="logo-whatsapp" width="30"></i>
            Direct communication with the CEO
            
        </a>
    </div>
</section>


