@model TblConfig
@{
    ViewData["Title"] = "About CEO";
    Layout = "~/Views/Shared/_EnLayout.cshtml";
}

<link href="~/css/About.min.css" rel="stylesheet" />
<link href="~/css/EnVersion.min.css" rel="stylesheet" />

<section class="about-ceo-section my-center">
    <h3 class="text-center title-h3 my-center mb-5">
        <span class="my-center Sens-serif">
            About the CEO
        </span>
    </h3>
    <div class="about-container pt-2" dir="rtl">
        <div class="img-container ml-md-5">
            <img src="~/Images/DarnareModiamelImg/@ViewBag.SelectedConfigImg" width="300" />
        </div>
        <div class="content-container pt-5 pt-md-0 my-column text-left" dir="ltr">
            @Html.Raw(Model.Value)

          
        </div>
    </div>
    <div class="text-md-right mr-md-1 mt-3 mb-3">
        <a class="btn bgMyGold" href="https://api.whatsapp.com/send?phone=@(ViewBag.SelectedWhatsapp)">
            <i class="mytext-green" uk-icon="logo-whatsapp" width="30"></i>
            Direct communication with the CEO

        </a>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="edit-admin pb-5">
            <hr />
            <a href="/Admin/Config/DarnareModiamel" class="btn btn-info mr-auto pl-3 float-left pr-3 text-white mytext-white"><i uk-icon="create-outline"></i>ویرایش</a>
        </div>
    }
</section>


