@model ConfigVm
@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_EnLayout.cshtml";
}

<link href="~/css/About.min.css" rel="stylesheet" />
<link href="~/css/EnVersion.min.css" rel="stylesheet" />


<section class="about-us-section my-center">
    <h3 class="text-center title-h3 d-none mobile-header">
        <span>
            About us
        </span>
    </h3>
    <div class="about-container my-center pt-2">
        <div class="img-container">
            <img src="~/Images/DarbareMaImg/@Model.DarbareMaImg" width="300" />
        </div>
        <div class="content-container pt-5 pt-md-0">
            <h3 class="text-center title-h3 desktop-header">
                <span>
                    About us
                </span>
            </h3>
            <p class="paragragh pt-md-4 text-dark" dir="ltr">
                @Html.Raw(Model.DarbareMaTextEn)
            </p>
        </div>
    </div>
    <div class="my-column mt-3" dir="ltr">
        <div class="my-row mt-2">
            <i class="mytext-gold" uk-icon="chevron-forward-circle" width="40"></i>
            <label class="text-09 ml-2 mt-2 text-left mytext-bold">
                Specializing in the export and import of fruits and food groups.
            </label>
        </div>
        <div class="my-row mt-2">
            <i class="mytext-gold" uk-icon="chevron-forward-circle" width="40"></i>
            <label class="text-09 ml-2 mt-2 text-left mytext-bold">
                This business is a collection of businessmen, investors, clearance agents, customs officers, translators, lawyers, business consultants, brokers and expert brokerages, public relations, accounting and ...
            </label>
        </div>
        <div class="my-row mt-2">
            <i class="mytext-gold" uk-icon="chevron-forward-circle" width="40"></i>
            <label class="text-09 ml-2 mt-2 text-left mytext-bold ">
                In direct contact with more than 700 Iranian four-season farmers and producers with products subject to export licenses and standards of exportable goods.
            </label>
        </div>
        <div class="certificate">
            <h3 class="text-center title-h3 my-center mb-5 mt-5">
                <span class="my-center">
                    Certificates
                </span>
            </h3>
            <div class="grid my-center">
                <div class="my-row">
                    <span class="download-container text-left">RASMIO 22039</span> <a class="bgMyGreen text-white my-center ml-auto" href="~/certificate/22039.pdf" data-toggle="tooltip" data-placement="top" title="download" download><span uk-icon="download-outline" class="uk-icon"> </span></a>
                </div>
                <div class="my-row">
                    <span class="download-container text-left">RASMIO 22186</span> <a class="bgMyGreen text-white my-center ml-auto" href="~/certificate/22186.pdf" data-toggle="tooltip" data-placement="top" title="download" download><span uk-icon="download-outline" class="uk-icon"> </span></a>
                </div>
                <div class="my-row">
                    <span class="download-container text-left">RASMIO 22039</span> <a class="bgMyGreen text-white my-center ml-auto" href="~/certificate/22039-b.pdf" data-toggle="tooltip" data-placement="top" title="download" download><span uk-icon="download-outline" class="uk-icon"> </span></a>
                </div>
                <div class="my-row">
                    <span class="download-container text-left">RASMIO 21794</span> <a class="bgMyGreen text-white my-center ml-auto" href="~/certificate/21794.pdf" data-toggle="tooltip" data-placement="top" title="download" download><span uk-icon="download-outline" class="uk-icon"> </span></a>
                </div>
            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="edit-admin pb-5">
                <hr />
                <a href="/Admin/Config/DarbareMa" class="btn btn-info mr-auto pl-3 float-left pr-3 text-white mytext-white"><i uk-icon="create-outline"></i>ویرایش</a>
            </div>
        }
    </div>
    <h3 class="text-center title-h3 my-center mb-5 mt-5">
        <span class="my-center">
            Board members
        </span>
    </h3>
    <div class="Staff-container grid my-center" dir="ltr">
        <div class="whiteCard my-column my-center">
            <div class="img-container my-center mt-4">
                <img src="~/img/profile-sample.png" />
            </div>
            <span class="mytext-green mt-5 mytext-bold bgMyGold Sens-serif text-08 pt-1 pb-1">
                Managing Director
            </span>
            <span class="mt-2 text-08">
                Roya Safari
            </span>
        </div>
        <div class="whiteCard my-column my-center">
            <div class="img-container my-center mt-4">
                <img src="~/img/profile-sample.png" />
            </div>
            <span class="mytext-green mt-5 mytext-bold bgMyGold Sens-serif text-08 pt-1 pb-1">
                Chairman of the Board
            </span>
            <span class="mt-2 text-08">
                Issa Asghari
            </span>
        </div>

        <div class="whiteCard my-column my-center">
            <div class="img-container my-center mt-4">
                <img src="~/img/profile-sample.png" />
            </div>
            <span class="mytext-green mt-5 mytext-bold bgMyGold Sens-serif text-08 pt-1 pb-1">
                Member of the Board
            </span>
            <span class="mt-2 text-08">
                Rouhieh Shaykh al-Islami
            </span>
        </div>
        <div class="whiteCard my-column my-center">
            <div class="img-container my-center mt-4">
                <img src="~/img/profile-sample.png" />
            </div>
            <span class="mytext-green mt-5 mytext-bold bgMyGold Sens-serif text-08 pt-1 pb-1">
                Chief Inspector
            </span>
            <span class="mt-2 text-08">
                Behnam Badenova
            </span>
        </div>
        <div class="whiteCard my-column my-center">
            <div class="img-container my-center mt-4">
                <img src="~/img/profile-sample.png" />
            </div>
            <span class="mytext-green mt-5 mytext-bold bgMyGold Sens-serif text-08 pt-1 pb-1">
                Substitute inspector
            </span>
            <span class="mt-2 text-08">
                Mehdi Dede Biglou
            </span>
        </div>
    </div>
</section>


