
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_EnLayout.cshtml";
}


<link href="~/Owl/owl.carousel.min.css" rel="stylesheet" />
<link href="~/Owl/owl.theme.default.min.css" rel="stylesheet" />


<script src="~/Jquery/jquery.min.js"></script>
<script src="~/Owl/owl.carousel.js"></script>
<link href="~/css/Index.min.css" rel="stylesheet" />
<link href="~/css/EnVersion.min.css" rel="stylesheet" />
<section class="header-section">
    <!--Carousel Wrapper-->
    <div id="carousel-thumb" class="carousel carousel-thumbnails slide" data-ride="carousel" data-interval="5000" data-pause="false">
        <!--Slides-->
        @await Component.InvokeAsync("SliderHomeEnComponent")
      
    </div>

    <!--/.Carousel Wrapper-->
    @if (User.Identity.IsAuthenticated)
    {

        <div class="edit-admin pb-2 pl-2 pr-2">
            <hr />
            <a href="/Admin/Slider" class="btn  btn-info mr-auto pl-3 float-left pr-3 mytext-white"><i uk-icon="create-outline"></i>ویرایش</a>
        </div>
    }
</section>

<!--introduction section-->

@await Component.InvokeAsync("MoarefyeSherkatHomeEnComponent")

<!--flag section-->
@await Component.InvokeAsync("CountryHomeEnComponent")



<!--video section-->
@*@await Component.InvokeAsync("VideoSectionHomeEnComponent")*@

<!--service section-->
<div class="pt-5" id="Services"></div>
<section class="service-section my-center">
    <div class="service-container my-center">
        <h3 class="text-center title-h3 my-center mb-5">
            <span class="my-center">
                Services
            </span>
        </h3>
        <p class="paragragh text-left pl-1 pl-md-2 pr-1 text-09" dir="ltr">
            We are proud to facilitate the affairs of traders, efficient communication and ideal quality and quantity efficiency from zero to one hundred your export and import processes, including:
        </p>
        <div class="" dir="ltr">
            <div class="row pl-2">
                <div class="general-services col-md-4 my-row mt-3">
                    <div class="service-number-bg ">
                        <div class="service-number mt-2">1</div>
                    </div>
                    <label class="mt-2 text-left pl-2">
                        <span class="text-Bold">Contract</span> (in different languages legally)
                    </label>
                </div>
                <div class="general-services col-md-4 my-row mt-3">
                    <div class="service-number-bg">
                        <div class="service-number mt-2">2</div>
                    </div>
                    <label class="mt-2 text-Bold text-left pl-2">
                        Supply
                    </label>
                </div>
                <div class="general-services col-md-4 my-row mt-3">
                    <div class="service-number-bg">
                        <div class="service-number mt-2">3</div>
                    </div>
                    <label class="mt-2 text-Bold text-left pl-2">
                        Specific and general sorting and packaging
                    </label>
                </div>
            </div>
            <div class="row pl-2">

                <div class="general-services col-md-4 my-row mt-3">
                    <div class="service-number-bg">
                        <div class="service-number mt-2">4</div>
                    </div>
                    <label class="mt-2 text-left pl-2">
                        <span class="text-Bold"> Internal transportation </span> (single-stage and multi-stage)
                    </label>
                </div>
                <div class="general-services col-md-4 my-row mt-3">
                    <div class="service-number-bg">
                        <div class="service-number mt-2">5</div>
                    </div>
                    <label class=" mt-2 text-Bold text-left pl-2">
                        Clearance in all borders and ports of Iran
                    </label>
                </div>
                <div class="general-services col-md-4 my-row mt-3">
                    <div class="service-number-bg">
                        <div class="service-number mt-2">6</div>
                    </div>
                    <label class=" mt-2 text-Bold text-left pl-2">
                        Customs
                    </label>
                </div>
            </div>
            <div class="row pl-2">
                <div class="general-services col-md-4 my-row mt-3 mt-md-1">
                    <div class="service-number-bg">
                        <div class="service-number mt-2">7</div>
                    </div>
                    <label class=" mt-2 text-left pl-2">
                        <span class="text-Bold"> Do foreign transportation </span>(land and sea) and ....
                    </label>
                </div>
            </div>
        </div>
        <p class="paragragh text-left pl-1 pl-md-2 pr-1 mt-4 mb-5 text-09" dir="ltr">
            We assure the merchants that in the end, the health of the cargo, as soon as possible, we will officially and legally fulfill your requested order with a full cargo guarantee.
        </p>
    </div>
    <div class="edit-admin pb-5 pl-2 pr-2 pl-md-5 pr-md-5 d-none">
        <hr />
        <a class="btn btn-info mr-auto pl-3 float-left pr-3 mytext-white"><i uk-icon="create-outline"></i>ویرایش</a>
    </div>
</section>


<!--our service section-->
<h3 class="text-center title-h3 our-service-h3 my-center mb-5">
    <span class="my-center">
        Our Services
    </span>
</h3>
<section class="our-service-section my-center pb-5">

    <div class="our-service-container grid my-center">
        <div class="greenCard my-center">
            <div class="whiteCard my-column my-center">
                <img class="my-center mt-5" src="~/img/index/services/marketing-logo.png" />
                <label class="mt-3 text-08"> Marketing of applicants' products  </label>
            </div>
            <i class="next-ser-icon d-none d-md-block absolute" uk-icon="chevron-forward"></i>
        </div>
        <div class="greenCard my-center">
            <div class="whiteCard my-column my-center">
                <img class="my-center mt-5" src="~/img/index/services/air-earth.png" />
                <label class="mt-3 text-08"> Accepting orders of foreign and domestic merchants from all over the world  </label>
            </div>
            <i class="next-ser-icon d-none d-md-block absolute" uk-icon="chevron-forward"></i>
        </div>
        <div class="greenCard my-center">
            <div class="whiteCard my-column my-center">
                <img class="my-center mt-5" src="~/img/index/services/delivery.png" />
                <label class="mt-4 text-08"> Export your products to the destination country of the applicant </label>
            </div>
            <i class="next-ser-icon d-none d-md-block absolute" uk-icon="chevron-forward"></i>
        </div>
        <div class="greenCard my-center">
            <div class="whiteCard my-column my-center">
                <img class="my-center mt-5" src="~/img/index/services/done.png" />
                <label class="mt-3 text-08"> Carrying out affairs of all stages from zero to one hundred from origin to export and import destination   </label>
            </div>

        </div>
    </div>
    <!--link for Export-->
    <div id="Export"></div>
    <div class="edit-admin pb-2 pl-4 pr-4 d-none" style="opacity:1!important;  backdrop-filter: opacity(1) !important;">
        <hr />
        <a class="btn btn-info mr-auto pl-3 float-left pr-3 mytext-white"><i uk-icon="create-outline"></i>ویرایش</a>
    </div>
</section>
@*export and import section*@
<section class="export-import-section">
    <h3 class="text-center title-h3 my-center mb-4">
        <span class="my-center">
            Exports
        </span>
    </h3>
    <div class="ex-im-container grid my-center" dir="ltr">
        <div class="whiteCard my-column my-center">
            <img class="float-left ml-2 mr-auto" src="~/img/Logo.png" width="100" />
            <img class="ex-im-img" src="~/img/index/export-import/miveh.jpg" />
            <p class="paragragh mt-2">
                Fruits of four seasons from all parts of Iran as fresh (farm), cold storage, sorted, dried, processed and ...
            </p>
        </div>

        <div class="whiteCard my-column my-center">
            <img class="float-left ml-2 mr-auto" src="~/img/Logo.png" width="100" />
            <img class="ex-im-img" src="~/img/index/export-import/products.jpg" />
            <p class="paragragh mt-2">
                Food group: General products and orders of Iranian factories and producers such as: canned fish, tomato paste, pickles, sauces, candy, chocolate, candy and ...
            </p>
        </div>

        <div class="whiteCard my-column my-center">
            <img class="float-left ml-2 mr-auto" src="~/img/Logo.png" width="100" />
            <img class="ex-im-img" src="~/img/index/export-import/vegetables.jpg" />
            <p class="paragragh mt-2">
                Vegetables, summer vegetables
            </p>
        </div>

        <div class="whiteCard my-column my-center">
            <img class="float-left ml-2 mr-auto" src="~/img/Logo.png" width="100" />
            <img class="ex-im-img" src="~/img/index/export-import/garden.jpg" />
            <p class="paragragh mt-2">
                Innovated agricultural and horticultural products
            </p>
            <!--link for import-->
            <span class="" id="Import"></span>
        </div>

    </div>

    <h3 class="text-center title-h3 my-center mb-4 mt-4">
        <span class="my-center">
            Importation
        </span>
    </h3>
    <div class="ex-im-container grid my-center">
        <div class="my-center">
            <div class="whiteCard my-column my-center" dir="rtl">
                <img class="float-left ml-2 mr-auto" src="~/img/Logo.png" width="100" />
                <img class="ex-im-img" src="~/img/index/export-import/import.jpg" />
                <p class=" paragragh mt-2 text-08 text-Bold my-center" dir="ltr">
                    Import of agricultural and horticultural products to Iran or other neighboring countries such as Brazilian sugar to Iraq, Pakistani mango to Turkey and ...
                </p>
            </div>
        </div>
    </div>
    <div class="edit-admin pb-2 pl-2 pr-2 pl-md-5 pr-md-5 d-none">
        <hr />
        <a class="btn btn-info mr-auto pl-3 float-left pr-3 mytext-white"><i uk-icon="create-outline"></i>ویرایش</a>
    </div>
</section>








<script>
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        autoplay: true,
        autoplayTimeout: 2000,
        autoplayHoverPause: false,
        rtl: true,
        responsive: {
            0: {
                items: 3
            },
            600: {
                items: 5
            },
            1000: {
                items: 8
            }
        }
    })

</script>


