
@{
    ViewData["Title"] = "EnServices";
    Layout = "~/Views/Shared/_EnLayout.cshtml";
}

<link href="~/css/contact.min.css" rel="stylesheet" />
<link href="~/css/EnVersion.min.css" rel="stylesheet" />

<section class="services-section col-md-10 my-center">
    <h3 class="text-center title-h3 my-center mb-5">
        <span class="my-center">
            Services
        </span>
    </h3>
    <div class="white-card pr-2 pl-2 pb-4 p-md-4">
        <div class="sevice-container my-center pt-4" dir="rtl">
            <div class="img-container mt-lg-5">
                <img src="~/img/service-sample.png" width="350" />
            </div>
            <div class="content-container pt-5 pt-md-0">
                <p class=" paragragh pl-3 pt-md-4 text-dark" dir="ltr">
                    We are proud to facilitate the affairs of traders, efficient communication and ideal quality and quantity efficiency from zero to one hundred your export and import processes, including:
                </p>
                <div class="pr-1 col-md-12 pl-md-3" dir="ltr">
                    <div class="row">
                        <div class="general-services col-12 my-row mt-3">
                            <div class="service-number-bg ">
                                <div class="service-number mt-2">1</div>
                            </div>
                            <label class="ml-2 mt-2 text-left">
                                <span class="text-Bold">Contract</span> (in different languages legally)
                            </label>
                        </div>
                        <div class="general-services col-12 my-row mt-3">
                            <div class="service-number-bg">
                                <div class="service-number mt-2">2</div>
                            </div>
                            <label class="ml-2 mt-2 text-left mytext-bold">
                                Supply
                            </label>
                        </div>
                        <div class="general-services col-12 my-row mt-3">
                            <div class="service-number-bg">
                                <div class="service-number mt-2">3</div>
                            </div>
                            <label class="ml-2 mt-2 text-left mytext-bold">
                                Specific and general sorting and packaging
                            </label>
                        </div>
                        <div class="general-services col-12 my-row mt-3">
                            <div class="service-number-bg">
                                <div class="service-number mt-2">4</div>
                            </div>
                            <label class="ml-2 mt-2 text-left">
                                <span class="text-Bold"> Internal transportation </span> (single-stage and multi-stage)
                            </label>
                        </div>
                        <div class="general-services col-12 my-row mt-3">
                            <div class="service-number-bg">
                                <div class="service-number mt-2">5</div>
                            </div>
                            <label class="ml-2 mt-2 text-left mytext-bold">
                                Clearance in all borders and ports of Iran
                            </label>
                        </div>
                        <div class="general-services col-12 my-row mt-3">
                            <div class="service-number-bg">
                                <div class="service-number mt-2">6</div>
                            </div>
                            <label class="ml-2 mt-2 text-left mytext-bold">
                                Customs
                            </label>
                        </div>
                        <div class="general-services col-12 my-row mt-3">
                            <div class="service-number-bg">
                                <div class="service-number mt-2">7</div>
                            </div>
                            <label class="ml-2 mt-2 text-left">
                                <span class="text-Bold"> Do foreign transportation </span>(land and sea) 

                            </label>
                        </div>
                    </div>
                </div>
                <p class="pl-3 paragragh pt-4 text-dark" dir="ltr">
                    We assure the merchants that in the end, the health of the cargo, as soon as possible, we will officially and legally fulfill your requested order with a full cargo guarantee.
                </p>

            </div>
        </div>
        <!--start each service-->
        <div class="sevice-container my-center pt-2 pt-4" dir="ltr">
            <div class="img-container mt-lg-5">
                <img src="~/img/Gallery/sample3.png" width="350" />
            </div>
            <div class="content-container pt-5 pt-md-0">
                <h5 class="text-danger pl-1 text-left mytext-bold text-1"  dir="rtl">
                   Our Services
                </h5>
                <div class="my-column mt-3" dir="ltr">
                    <div class="my-row mt-2">
                        <i class="mytext-green" uk-icon="chevron-forward-circle" width="40"></i>
                        <label class="ml-2 mt-2 text-left mytext-bold text-09">
                            Accepting orders of foreign and domestic merchants from all over the world
                        </label>
                    </div>
                    <div class="my-row mt-2">
                        <i class="mytext-green" uk-icon="chevron-forward-circle" width="40"></i>
                        <label class="ml-2 mt-2 text-left mytext-bold text-09">
                            Export your products to the destination country of the applicant
                        </label>
                    </div>
                    <div class="my-row mt-2">
                        <i class="mytext-green" uk-icon="chevron-forward-circle" width="40"></i>
                        <label class="ml-2 mt-2 text-left mytext-bold text-09">
                            Carrying out affairs of all stages from zero to one hundred from origin to export and import destination
                        </label>
                    </div>
                    <div class="my-row mt-2">
                        <i class="mytext-green" uk-icon="chevron-forward-circle" width="40"></i>
                        <label class="ml-2 mt-2 text-left mytext-bold text-09">
                            Marketing of applicants' products
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
