
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/contact.min.css" rel="stylesheet" />

<section class="services-section col-md-10 my-center">
    <h3 class="text-center title-h3 my-center mb-5">
        <span class="my-center">
            خدمات
        </span>
    </h3>
    <div class="white-card pr-2 pl-2 pb-4 p-md-4">
        <div class="sevice-container my-center pt-4">
            <div class="img-container mt-lg-5">
                <img src="~/img/service-sample.png" width="350" />
            </div>
            <div class="content-container pt-5 pt-md-0">
                <p class="text-right paragragh pt-md-4 text-dark" dir="rtl">
                    ما افتخار این را داریم که جهت تسهیل امور تجار ، ارتباط کارا و بازدهی کیفی و کمی ایده آل صفر تا صد پروسه صادرات و واردات شما را اعم از :<br />
                </p>
                <div class="pl-1 col-md-12 pr-md-5" dir="rtl">
                    <div class="row">
                        <div class="general-services col-12 my-row mt-3">
                            <div class="service-number-bg ">
                                <div class="service-number mt-2">1</div>
                            </div>
                            <label class="mr-2 mt-2 text-right">
                                <span class="mytext-bold ">عقد قرارداد</span> (به زبان های مختلف به صورت قانونی و حقوقی)
                            </label>
                        </div>
                        <div class="general-services col-12 my-row mt-3">
                            <div class="service-number-bg">
                                <div class="service-number mt-2">2</div>
                            </div>
                            <label class="mr-2 mt-2 mytext-bold text-right">
                                تامین کالا
                            </label>
                        </div>
                        <div class="general-services col-12 my-row mt-3">
                            <div class="service-number-bg">
                                <div class="service-number mt-2">3</div>
                            </div>
                            <label class="mr-2 mt-2 mytext-bold text-right">
                                سورت و بسته بندی اختصاصی و عمومی
                            </label>
                        </div>
                        <div class="general-services col-12 my-row mt-3">
                            <div class="service-number-bg">
                                <div class="service-number mt-2">4</div>
                            </div>
                            <label class="mr-2 mt-2 text-right">
                                <span class="mytext-bold"> داخلی</span> ( تک مرحله ای و چند مرحله ای )
                            </label>
                        </div>
                        <div class="general-services col-12 my-row mt-3">
                            <div class="service-number-bg">
                                <div class="service-number mt-2">5</div>
                            </div>
                            <label class="mr-2 mt-2 mytext-bold text-right">
                                ترخیص در تمامی مرزها و بنادر ایران
                            </label>
                        </div>
                        <div class="general-services col-12 my-row mt-3">
                            <div class="service-number-bg">
                                <div class="service-number mt-2">6</div>
                            </div>
                            <label class="mr-2 mt-2 mytext-bold text-right">
                                گمرک
                            </label>
                        </div>
                        <div class="general-services col-12 my-row mt-3">
                            <div class="service-number-bg">
                                <div class="service-number mt-2">7</div>
                            </div>
                            <label class="mr-2 mt-2 text-right">
                                <span class="mytext-bold"> حمل خارجی</span> ( زمینی و دریایی ) و...
                            </label>
                        </div>
                    </div>
                </div>
                <p class="text-right paragragh pt-4 text-dark" dir="rtl">
                    این اطمینان خاطر را به تجار میدهیم که در نهایت سلامت بار ، در اسرع وقت ، بصورت رسمی و قانونی با گارانتی کامل بار سفارش درخواستی شما را انجام دهیم .
                </p>

            </div>
        </div>
        <!--start each service-->
        <div class="sevice-container my-center pt-2 pt-4" dir="rtl">
            <div class="img-container mt-lg-5">
                <img src="~/img/Gallery/sample3.png" width="350" />
            </div>
            <div class="content-container pt-5 pt-md-0">
                <h5 class="text-danger text-right" dir="rtl">
                    خدمات ما:
                </h5>

                <div class="my-column mt-3" dir="rtl">
                    <div class="my-row mt-2">
                        <i class="mytext-green" uk-icon="chevron-back-circle" width="40"></i>
                        <label class="mr-2 mt-2 text-right mytext-bold text-09">
                            قبول سفارش های تجار خارجی و داخلی از اقصی نقاط دنیا
                        </label>
                    </div>
                    <div class="my-row mt-2">
                        <i class="mytext-green" uk-icon="chevron-back-circle" width="40"></i>
                        <label class="mr-2 mt-2 text-right mytext-bold text-09">
                            صادرات محصولات شما به کشور مقصد متقاضی
                        </label>
                    </div>
                    <div class="my-row mt-2">
                        <i class="mytext-green" uk-icon="chevron-back-circle" width="40"></i>
                        <label class="mr-2 mt-2 text-right mytext-bold text-09">
                            انجام امور کلیه مراحل صفر تا صد مبداً تا مقصد صادرات و واردات
                        </label>
                    </div>
                    <div class="my-row mt-2">
                        <i class="mytext-green" uk-icon="chevron-back-circle" width="40"></i>
                        <label class="mr-2 mt-2 text-right mytext-bold text-09">
                            بازاریابی محصولات متقاضیان
                        </label>
                    </div>
                </div>
                @*<div class="pl-1 col-md-12 pr-md-5" dir="rtl">
            <div class="row">
                <div class="general-services col-12 my-row mt-3">
                    <div class="service-number-bg ">
                        <div class="service-number mt-2">1</div>
                    </div>
                    <label class="mr-2 mt-2 mytext-bold">
                        قبول سفارش های تجار خارجی و داخلی از اقصی نقاط دنیا
                    </label>
                </div>
                <div class="general-services col-12 my-row mt-3">
                    <div class="service-number-bg">
                        <div class="service-number mt-2">2</div>
                    </div>
                    <label class="mr-2 mt-2 mytext-bold">
                        صادرات محصولات شما به کشور مقصد متقاضی
                    </label>
                </div>
                <div class="general-services col-12 my-row mt-3">
                    <div class="service-number-bg">
                        <div class="service-number mt-2">3</div>
                    </div>
                    <label class="mr-2 mt-2 mytext-bold">
                        انجام امور کلیه مراحل صفر تا صد مبداً تا مقصد صادرات و واردات
                    </label>
                </div>
                <div class="general-services col-12 my-row mt-3">
                    <div class="service-number-bg">
                        <div class="service-number mt-2">4</div>
                    </div>
                    <label class="mr-2 mt-2 mytext-bold">
                      بازاریابی محصولات متقاضیان
                    </label>
                </div>
            </div>
        </div>*@
            </div>
        </div>
    </div>
</section>

