@model TblConfig

<section class="Introduction-section my-center">
    <h3 class="text-center d-none mobile-header">
        <span>
            معرفی شرکت
        </span>
    </h3>
    <div class="Introduction-container my-center pt-2">
        <div class="img-container pt-md-4">
            <img src="~/Images/MoarefyeSherkatImg/@ViewBag.SelectedConfigImg" width="480" alt="img" />
        </div>
        <div class="content-container pt-5 pt-md-0">
            <h3 class="text-center desktop-header">
                <span>
                    معرفی شرکت
                </span>
            </h3>
            <p class=" paragragh pt-md-4" dir="rtl">
                @Model.Value
            </p>
            <div class="row my-center col-md-12 mt-5">
                <a class="col-md-5 greenButton" href="/About/AboutUS">
                    درباره ما
                </a>
                <a class="col-md-5 greenButton ml-auto mt-3 mt-md-0 " href="/Contact/ContactUs">
                    تماس با ما
                </a>
            </div>
        </div>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="edit-admin pb-2">
            <hr />
            <a href="/Admin/Config/MoarefyeSherkat" class="btn btn-info mr-auto pl-3 float-left pr-3 mytext-white"><i uk-icon="create-outline"></i>ویرایش</a>
        </div>
    }
</section>



