@model ConfigVm

<li class="nav-item">
    <a class="nav-link mytext-light" href="https://www.instagram.com/@Model.Inista/" uk-icon="logo-instagram" width="18"></a>
</li>
<li class="nav-item">
    <a class="nav-link mytext-light" href="https://api.whatsapp.com/send?phone=@Model.Whatsapp" uk-icon="logo-whatsapp" width="18"></a>
</li>