
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width , initial-scale=1.0" />
    <title>Arta Tiyam Maham </title>
    <link href="~/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/Controls.min.css" rel="stylesheet" />
    <link href="/img/Logo.ico" rel="icon" />
    <link href="~/css/EnVersion.min.css" rel="stylesheet" />
</head>
<body>
    <section class="Header navbar-section">
        <nav id="menu" class="navbar navbar-expand-xl navbar-light fixed-top pt-0 pb-0 border-bottom">
            <ul class=" header-flag navbar-brand navbar-nav my-row pb-2 pl-1 pl-md-4 mt-2" dir="rtl">
                <li class="nav-item">
                    <a class="nav-link mytext-light" href="https://www.instagram.com/arta.tiyammaham/" uk-icon="logo-instagram" width="18"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mytext-light" href="https://wa.me/+989141245761" uk-icon="logo-whatsapp" width="18"></a>
                </li>
            </ul>
            <span class="vertical-divider"></span>
            <ul class="navbar-brand navbar-nav my-row pb-2" dir="rtl">
                <li class="nav-item pl-2 pl-xl-0">
                    <a class="nav-link flag" href="/Home/EnIndex">
                        <img src="~/img/flag/UK-flag.png" width="18" />
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link flag" href="/Home/Index">
                        <img src="~/img/flag/iran.png" width="18" />
                    </a>
                </li>
            </ul>
            <button type="button" class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon font-weight-bold"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav my-center pb-0 mt-1">
                    <li class="nav-item my-nav-item">
                        <a class="nav-link" href="/Home/EnIndex">Home</a>
                    </li>
                    <li class="nav-item my-nav-item">
                        <a class="nav-link" href="/Home/EnServices">
                            Services
                        </a>
                    </li>
                    <li class="nav-item my-nav-item">
                        <a class="nav-link" href="/Home/EnIndex/#Export">
                            Exports
                        </a>
                    </li>
                    <li class="nav-item my-nav-item">
                        <a class="nav-link" href="/Home/EnIndex/#Import">
                            Importation
                        </a>
                    </li>
                    <li class="nav-item my-nav-item">
                        <a class="nav-link" href="/About/EnAboutCEO">
                            Management
                        </a>
                    </li>
                    <li class="nav-item my-nav-item">
                        <a class="nav-link" href="/Gallery/EnGallery">
                            Gallery
                        </a>
                    </li>
                    <li class="nav-item my-nav-item">
                        <a class="nav-link" href="/Contact/EnCooperation">
                           Cooperation
                        </a>
                    </li>
                    <li class="nav-item my-nav-item">
                        <a class="nav-link" href="/About/EnAboutUs">
                            About us
                        </a>
                    </li>
                    <li class="nav-item my-nav-item">
                        <a class="nav-link" href="/Contact/EnContactUs">
                            Contact us
                        </a>
                    </li>
                </ul>
                <a href="/Home/EnIndex" class="navbar-brand navbar-right ml-auto pb-0 d-none d-xl-block">
                    <img src="~/img/Logo.png" height="80" />
                </a>
            </div>
        </nav>

    </section>
    <div class=" my-column left-side-logo">

        <a href="https://www.instagram.com/arta.tiyammaham/"><img class="side-item" src="~/img/static-layout/Instagram-logo-PNG.png" /></a>
        <a href="https://wa.me/+989141245761"><img class="mt-2 side-item" src="~/img/static-layout/watsapp.png" /></a>
    </div>
    <div class="">
        @RenderBody()
    </div>

    <!-- Footer -->

    <section class="footer-section">
        <div class="bgMyGold p-3"></div>
        <footer class="">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-lg-5 col-sm-12">
                        <div class="footer-widget">
                            <!-- Brand -->
                            <h5 href="/Home/EnIndex" class="mytext-gold text-left footer-titr pb-0">
                                Arta Tiyam Maham <span class="text-white">Trading Company </span>
                            </h5>
                            <hr />
                            <p class="paragragh text-white text-08 d-none d-md-block">
                                We are proud to gain your satisfaction and profit, dear ones. We hope to be able to provide you with the best services in the ultimate in security and quality, and we try to be with you always and provide you with the pleasure of real business.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-3 mr-lg-auto col-sm-12">
                        <div class="footer-widget text-left">
                            <h6 class="text-white">Contacts</h6>
                            <hr />
                            <!-- Links -->
                            <ul class="footer-links ">
                                <li>

                                    <i class="mytext-gold footer-icon" uk-icon="location" width="18"></i>
                                    <span class="text-white text-08">
                                        Iran / East Azarbaijan Province / Tabriz / Ostad Shahriyar Boulevard / Next to the General Welfare Office / Building 22 / 5th Floor / Unit E
                                    </span>

                                </li>
                                <li>

                                    <i class=" mytext-gold gly-rotate-270" uk-icon="call" width="18"></i>
                                    <span class="text-white text-08">
                                        041 3310 1047 - 041 3310 1099
                                    </span>

                                </li>
                                <li>
                                    <a href="mailto:artatiyammaham@chmail.ir">
                                        <i class=" mytext-gold" uk-icon="mail" width="18"></i>
                                        <span class="text-white text-08">
                                            artatiyammaham@chmail.ir
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://wa.me/+989141245761">
                                        <i class=" mytext-gold" uk-icon="logo-whatsapp" width="18"></i>
                                        <span class="text-white text-08">
                                            +98 9141245761
                                        </span>
                                    </a>
                                    <span class="vertical-divider"></span>
                                    <i class="mytext-gold" uk-icon="phone-portrait-outline" width="18"></i>
                                    <span class="text-white text-08">
                                        +98 9144239397
                                    </span>

                                </li>
                                <li>
                                    <a href="https://www.instagram.com/arta.tiyammaham/">
                                        <i class=" mytext-gold" uk-icon="logo-instagram" width="18"></i>
                                        <span class="text-white text-08">
                                            arta.tiyammaham
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6 d-none d-md-block">
                        <div class="footer-widget text-left">
                            <h6 class="text-white">Quick Access</h6>
                            <hr />
                            <!-- Links -->
                            <ul class="footer-links ">
                                <li>
                                    <a href="/Home/EnIndex">
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/EnServices">
                                        Services
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/EnIndex/#Export">
                                        Export & Import
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-6 d-none d-md-block">
                        <div class="footer-widget text-left">
                            <h6 class="text-white">Useful links</h6>
                            <hr />
                            <!-- Links -->
                            <ul class="footer-links ">
                                <li>
                                    <a href="/About/EnAboutUs">
                                        About Us
                                    </a>
                                </li>
                                <li>
                                    <a href="/Contact/EnContactUs">
                                        Contact Us
                                    </a>
                                </li>
                                <li>
                                    <a href="/Contact/EnCooperation">
                                       Cooperation
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div> <!-- / .row -->
                <hr class="mt-0 pt-0" />
                <div class="my-center">
                    <span class="text-white text-08">
                        &copy; Copyright 2021 Arta Tiyam Maham . Design by <a class="text-white" href="https://arvintavco.com/">ArvinTav</a>
                    </span>
                </div>

            </div>
        </footer>
    </section>
    <!-- Footer -->
    <script src="~/Jquery/jquery-3.4.1.js"></script>
    <script src="~/Bootstrap/js/bootstrap.js"></script>
    <script src="~/js/uikit.min.js"></script>
    <script src="~/js/uikit-icons.js"></script>
    <script>
        $(window).on("scroll", function () {
            if ($(window).scrollTop() > 50) {
                $("#menu").addClass("active-header");

            } else {
                //remove the background property so it comes transparent again (defined in your css)
                $("#menu").removeClass("active-header");
            }
        });
    </script>

    <script src="~/lightbox/ekko-lightbox.js"></script>
    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>


</body>
</html>


