
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width , initial-scale=1.0" />
    <title>آرتا تیام مهام</title>
    <link href="~/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/Controls.min.css" rel="stylesheet" />
    <link href="/img/Logo.ico" rel="icon" />
</head>
<body>
    <section class="Header navbar-section">
        <nav id="menu" class="navbar navbar-expand-xl navbar-light fixed-top pt-0 pb-0 border-bottom">
            <ul class=" header-flag navbar-brand navbar-nav my-row pb-2 pl-md-4 mt-2 mr-1" dir="rtl">
                @await Component.InvokeAsync("LogoHeaderWatsappInstagramComponent")
            </ul>
            <span class="vertical-divider"></span>
            <ul class="navbar-brand navbar-nav my-row pb-0" dir="rtl">
                <li class="nav-item pl-2 pl-xl-0">
                    <a class="nav-link flag" href="/Home/EnIndex">
                        <img src="~/img/flag/UK-flag.png" width="18" />
                    </a>
                </li>
                <li class="nav-item pl-2 pl-xl-0">
                    <a class="nav-link flag" href="#">
                        <img src="~/img/flag/Saudi_Arabia.png" width="21" />
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link flag" href="/Home/Index">
                        <img src="~/img/flag/iran.png" width="18" />
                    </a>
                </li>
            </ul>
            <button type="button" class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon font-weight-bold"></span>
            </button>

            <div class="collapse navbar-collapse my-mobile-nav" id="navbarSupportedContent">

                <ul class="navbar-nav my-center pb-0 " dir="rtl">
                    <li class="nav-item my-nav-item">
                        <a class="nav-link" href="/">صفحه اصلی</a>
                    </li>
                    <li class="nav-item my-nav-item">
                        <a class="nav-link" href="/Home/Services">
                            خدمات
                        </a>
                    </li>
                    @*<li class="nav-item my-nav-item">
                            <a class="nav-link" href="/Home/#Export">
                                صادرات
                            </a>
                        </li>
                        <li class="nav-item my-nav-item">
                            <a class="nav-link" href="/Home/#Import">
                                واردات
                            </a>
                        </li>*@
                    <li class="nav-item my-nav-item">
                        <a class="nav-link" href="/Product/Products">
                            محصولات
                        </a>
                    </li>


                    <li class="nav-item my-nav-item">
                        <a class="nav-link" href="/About/aboutCEO">
                            مدیریت
                        </a>
                    </li>
                    <li class="nav-item my-nav-item">
                        <a class="nav-link" href="/Gallery/Gallery">
                            گالری
                        </a>
                    </li>
                    <li class="nav-item my-nav-item">
                        <a class="nav-link" href="/Contact/Cooperation">
                            اعلام همکاری
                        </a>
                    </li>
                    <li class="nav-item my-nav-item">
                        <a class="nav-link" href="/About/aboutUs">
                            درباره ما
                        </a>
                    </li>
                    <li class="nav-item my-nav-item">
                        <a class="nav-link" href="/Contact/ContactUs">
                            تماس با ما
                        </a>
                    </li>
                </ul>
                <a href="/Home/Index" class="navbar-brand navbar-right ml-auto pb-0 d-none d-xl-block">
                    <img src="~/img/Logo.png" height="80" />
                </a>
            </div>
        </nav>
    </section>
    <div class=" my-column right-side-logo">
        @await Component.InvokeAsync("LogoWatsappInstagramComponent")

    </div>
    <div class="">
        @RenderBody()
    </div>

    <!-- Footer -->

    <section class="footer-section">
        <div class="bgMyGold p-3"></div>
        <footer class="">
            <div class="container" dir="rtl">
                <div class="row justify-content-start">

                    @await Component.InvokeAsync("FooterComponent")

                </div> <!-- / .row -->
                <hr class="mt-0 pt-0" />
                <div class="my-center">
                    <span class="text-white text-08 IranSans">
                        ﻃﺮح و ﻣﻄﺎﻟﺐ اﻧﺤﺼﺎرا ﺑﺮای ﺷﺮﮐﺖ آرﺗﺎ ﺗﯿﺎم ﻣﻬﺎم ﻣﺤﻔﻮظ ﻣﯽ ﺑﺎﺷﺪ و در ﺻﻮرت ﻫﺮﮔﻮﻧﻪ ﮐﭙﯽ ﺑﺮداری ﭘﯿﮕﺮد ﻗﺎﻧﻮﻧﯽ دارد. ﻃﺮاﺣﯽ و ﭘﯿﺎده ﺳﺎزی ﺗﻮﺳﻂ ﺷﺮﮐﺖ <a class="text-white" href="https://arvintavco.com/">اﯾﺪه ﭘﺮداز آروﯾﻦ ﺗﺎو</a>
                    </span>
                </div>
            </div>
        </footer>

    </section>
    <!-- Footer -->
    <script src="~/Jquery/jquery-3.4.1.js"></script>
    <script src="~/Bootstrap/js/bootstrap.js"></script>
    <script src="~/js/uikit.min.js"></script>
    <script src="~/js/uikit-icons.js"></script>
    <script>
        $(window).on("scroll", function () {
            if ($(window).scrollTop() > 50) {
                $("#menu").addClass("active-header");

            } else {
                //remove the background property so it comes transparent again (defined in your css)
                $("#menu").removeClass("active-header");
            }
        });
    </script>

    <script src="~/lightbox/ekko-lightbox.js"></script>
    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>
    <script>
        $(function () {
            var navMain = $("#navbarSupportedContent");
            navMain.on("click", "a", null, function () {
                navMain.collapse('hide');
            });
        });
    </script>


    @RenderSection("Script", false)
</body>
</html>


