@import "Controls.scss";

.title-h3 {
    width: 47%;
    text-align: center;
    border-bottom: 2px solid #126634;
    line-height: 0.1em;
    /* margin: 10px 0 20px;*/

    span {
        font-family: IRANYekan;
        background: #F2F2F2;
        padding: 0 10px;
        font-size: 16px;
        font-weight: 600;
    }
}

.mytext-bold {
    font-weight: 600;
}

@media screen and (max-width: 780px) {

    .title-h3 {
        width: 90% !important;
    }
}

.cooperation-section {
    padding-top: 130px;
    padding-bottom: 20px;


    .cooperation-condition-bg {
        min-width: 40px;
        width: 40px;
        height: 40px;
        /*  padding:7px;*/
        background: linear-gradient(125.66deg, #D0982A -2.65%, #FACA61 14.69%, #FBC763 44.79%, #F1BD50 57.56%, #E3AC34 84.93%) !important;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        vertical-align: middle !important;
    }

    label {
        font-size: 0.9rem;
    }
}

/*form section*/
.white-card {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
}

.form-section {
    padding-top: 10px;
    padding-bottom: 30px;

    form {
        padding: 20px 60px;

        input, select, textarea {
            border-color: #126634;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin-top: 22px;
            font-family: IranSans;
            font-size: 1rem;
            font-weight: 600;
        }

        textarea {
            height: 150px;
        }

        .bgMyGreen:hover {
            background: #e1e1e1;
            color: #126634 !important;
        }
    }

    input:focus, select:focus, textarea:focus {
        color: #495057;
        background-color: #fff;
        border-color: #E3AC34 !important;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba( 237, 186,83, 0.25) !important;
    }
}

@media screen and (max-width: 780px) {
    form {
        padding: 20px 10px !important;
    }
}
///////////////////////
/*contact us section*/
.contact-us-section {
    *{font-size: 14px;}
    padding-top: 130px;
    padding-bottom: 20px;

    a {
        color: black !important;
    }

    a:hover {
        color: #a9a9a9 !important;
    }
}
///////////////////////////
/*map section*/
.map {
    height: 250px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius:15px;
}



///////////////////////////////////////////////
/*services style section*/
.services-section {
    padding-top: 130px;
    padding-bottom: 20px;

    .sevice-container {
        display: flex;
         position: relative;

        .content-container {
            flex: 1;
           
        }

        .img-container {
            flex: 1;

            img {
                vertical-align: middle !important;
            }
        }
    }

    .my-service {
        position: relative;
        background-image: url('/img/index/our-srv-bg.jpg'); /* Set a specific height */ /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /*      backdrop-filter:opacity(0.2);*/
        paragragh {
            color: black;
        }
    }

    .my-service::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: rgba(255,255,255,0.88);
    }

    .general-services {
        .service-number-bg {
            min-width: 40px;
            width: 40px;
            height: 40px;
            /*  padding:7px;*/
            background: linear-gradient(125.66deg, #D0982A -2.65%, #FACA61 14.69%, #FBC763 44.79%, #F1BD50 57.56%, #E3AC34 84.93%) !important;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 50%;
            vertical-align: middle !important;
        }

        label {
            font-size: 0.9rem;
        }
    }

    @media screen and (max-width: 780px) {
        .sevice-container {
            display: flex;
            -ms-flex-direction: column;
            -webkit-flex-direction: column;
            flex-direction: column;
            -ms-align-content: center;
            -webkit-align-content: center;
            align-content: center;

            img {
                width: 200px !important;
            }
        }
    }
}

////////////////service

