/*@import "Controls.scss";*/
* {
  font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif  !important; }

.text-bold, .text-Bold {
  font-weight: 700 !important; }

.mytext-bold, .text-Bold {
  font-weight: 700 !important; }

.navbar-section .my-nav-item {
  padding: 20px 0px; }
  .navbar-section .my-nav-item .nav-link {
    color: black;
    font-size: 15px !important;
    /*  font-family: IranSans !important;*/
    font-weight: 600;
    padding: 8px 10px !important;
    font-family: sans-serif !important; }

.left-side-logo {
  left: 30px;
  position: fixed;
  top: 200px;
  z-index: 100; }
  .left-side-logo .side-item {
    transition: transform .2s;
    width: 40px; }
  .left-side-logo .side-item:hover {
    -ms-transform: scale(1.4);
    /* IE 9 */
    -webkit-transform: scale(1.4);
    /* Safari 3-8 */
    transform: scale(1.4); }

@media only screen and (max-width: 600px) {
  .left-side-logo {
    top: 300px; }
    .left-side-logo .side-item {
      width: 30px; } }

.footer-section .footer-titr {
  /*   font-family: !important;*/
  font-size: 20px !important; }

.footer-section .footer-widget h6 {
  /*font-family: Tahoma;*/ }

.footer-section .footer-widget li {
  /*font-family: Tahoma !important;*/ }
  .footer-section .footer-widget li a {
    font-size: 0.9rem !important; }

.header-section {
  /* Standard syntax */ }
  .header-section .greenButton {
    min-width: 220px; }
  .header-section .carousel-item4 .carousel-ban-text-adj {
    -webkit-animation: mymove5 1.2s;
    /* Safari 4.0 - 8.0 */
    animation: mymove5 1.2s; }

@-webkit-keyframes mymove5 {
  0% {
    bottom: 50px; }
  100% {
    bottom: 180px; } }

@keyframes mymove5 {
  0% {
    bottom: 50px; }
  100% {
    bottom: 180px; } }
  .header-section .carousel-header-adj {
    margin: 0;
    vertical-align: top;
    padding-left: 0px;
    text-align: center;
    color: #EDB649 !important;
    font-size: 20px !important; }
  @media only screen and (max-width: 600px) {
    .header-section .carousel-ban-text-adj {
      position: absolute;
      width: 230px !important;
      display: flex;
      bottom: 40px;
      padding: 10px 0 !important; }
      .header-section .carousel-ban-text-adj h1 {
        font-size: 9px !important;
        padding-right: 0 !important; }
      .header-section .carousel-ban-text-adj p {
        font-size: 7px !important;
        margin: 11px 0 8px 0;
        padding-right: 0 !important; }
      .header-section .carousel-ban-text-adj .greenButton {
        width: 30% !important;
        font-size: 6px !important;
        margin-top: 2px !important;
        min-width: 100px; } }

.service-section .service-container {
  width: 90%; }

.ex-im-container .paragragh {
  text-align: center;
  text-justify: kashida !important;
  margin: auto;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 2; }

.form-section form input, .form-section form select, .form-section form textarea {
  border-color: #126634;
  font-family: IranSans;
  font-size: 0.8rem !important; }

.gallery-section .white-gallery-card {
  min-height: 500px !important; }
  .gallery-section .white-gallery-card p {
    height: 250px; }

.title-h3 span {
  font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-size: 16px;
  font-weight: 700 !important; }
