
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_EnLayout.cshtml";
}

<link href="~/css/contact.min.css" rel="stylesheet" />
<link href="~/css/Product.min.css" rel="stylesheet" />
<link href="~/css/EnVersion.min.css" rel="stylesheet" />

<section class="products-section my-center">
    <h3 class="text-center title-h3 my-center mb-3 mb-md-5">
        <span class="my-center">
            Products
        </span>
    </h3>
    <div class="my-center">
        <div class="grid my-center" dir="ltr">
            <div class="white-gallery-card gallery-item mt-2 mt-md-0 my-center">
                <a href="/Product/EnProduct">
                    <span class="mt-2 mytext-gray text-09">title</span>
                    <img src="~/Images/Gallery/0e308f79-33b6-45e8-b8f2-75753805a520.jpg">
                </a>
                <p class="p-2 text-08" dir="ltr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Egestas purus viverra accumsan in nisl nisi Arcu cursus vitae congue mauris rhoncus aenean vel elit scelerisque In egestas erat imperdiet sed euismod nisi porta lorem mollis Morbi tristique senectus et netus
                </p>
                <a href="/Product/EnProduct" class="greenButton my-center mt-auto">
                    View product
                </a>

            </div>
            <div class="white-gallery-card gallery-item mt-2 mt-md-0 my-center">
                <a href="/Product/EnProduct">
                    <span class="mt-2 mytext-gray text-09">title</span>
                    <img src="~/Images/Gallery/0e308f79-33b6-45e8-b8f2-75753805a520.jpg">
                </a>
                <p class="p-2 text-08" dir="ltr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Egestas purus viverra accumsan in nisl nisi Arcu cursus vitae congue mauris rhoncus aenean vel elit scelerisque In egestas erat imperdiet sed euismod nisi porta lorem mollis Morbi tristique senectus et netus
                </p>
                <a href="/Product/EnProduct" class="greenButton my-center mt-auto">
                    View product
                </a>

            </div>
            <div class="white-gallery-card gallery-item mt-2 mt-md-0 my-center">
                <a href="/Product/EnProduct">
                    <span class="mt-2 mytext-gray text-09">title</span>
                    <img src="~/Images/Gallery/0e308f79-33b6-45e8-b8f2-75753805a520.jpg">
                </a>
                <p class="p-2 text-08" dir="ltr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Egestas purus viverra accumsan in nisl nisi Arcu cursus vitae congue mauris rhoncus aenean vel elit scelerisque In egestas erat imperdiet sed euismod nisi porta lorem mollis Morbi tristique senectus et netus
                </p>
                <a href="/Product/EnProduct" class="greenButton my-center mt-auto">
                    View product
                </a>

            </div>
            <div class="white-gallery-card gallery-item mt-2 mt-md-0 my-center">
                <a href="/Product/EnProduct">
                    <span class="mt-2 mytext-gray text-09">title</span>
                    <img src="~/Images/Gallery/0e308f79-33b6-45e8-b8f2-75753805a520.jpg">
                </a>
                <p class="p-2 text-08" dir="ltr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Egestas purus viverra accumsan in nisl nisi Arcu cursus vitae congue mauris rhoncus aenean vel elit scelerisque In egestas erat imperdiet sed euismod nisi porta lorem mollis Morbi tristique senectus et netus
                </p>
                <a href="/Product/EnProduct" class="greenButton my-center mt-auto">
                    View product
                </a>
            </div>
        </div>
    </div>
</section>


