@model List<TblBlog>
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_EnLayout.cshtml";
}

<link href="~/css/contact.min.css" rel="stylesheet" />
<link href="~/css/Product.min.css" rel="stylesheet" />
<link href="~/css/EnVersion.min.css" rel="stylesheet" />

<section class="products-section my-center">
    <h3 class="text-center title-h3 my-center mb-3 mb-md-5">
        <span class="my-center">
            Products
        </span>
    </h3>
    <div class="my-center">
        <div class="grid my-center" dir="ltr">
            @foreach (var item in Model)
            {
                <div class="white-gallery-card gallery-item mt-2 mt-md-0 my-center">
                    <a href="/Product/EnProduct/@item.BlogId">
                        <span class="mt-2 mytext-gray text-09">@item.TitleEn</span>
                        <img src="~/Images/Blogs/@item.MainImage">
                    </a>
                    <p class="p-2 text-08" dir="ltr">
                        @item.DescriptionEn
                    </p>
                    <a href="/Product/EnProduct/@item.BlogId" class="greenButton my-center mt-auto">
                        View product
                    </a>
                </div>
            }
        </div>
    </div>
</section>


