@model TblBlog
@{
    ViewData["Title"] = "محصول";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/contact.min.css" rel="stylesheet" />
<link href="~/css/Product.min.css" rel="stylesheet" />


<section class="product-section my-center">
    <h3 class="text-center title-h3 my-center mb-4 mb-md-5">
        <span class="my-center">
            @Model.Title
        </span>
    </h3>
    <div class="col-11 col-md-10  my-center white-card pr-2 pl-2 pb-4 p-md-4 my-column">
        <img class="my-center" src="~/Images/Blogs/@Model.MainImage">
        <p class="p-2 paragragh text-09" dir="rtl">
            @Html.Raw(Model.BodyHtml)
        </p>

    </div>
</section>

