
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/contact.min.css" rel="stylesheet" />
<link href="~/css/Product.min.css" rel="stylesheet" />

<section class="products-section my-center">
    <h3 class="text-center title-h3 my-center mb-3 mb-md-5">
        <span class="my-center">
            محصولات
        </span>
    </h3>
    <div class="my-center">
        <div class="grid my-center" dir="rtl">
            <div class="white-gallery-card gallery-item mt-2 mt-md-0 my-center">
                <a href="#">
                    <span class="mt-2 mytext-gray text-09">عنوان محصول</span>
                    <img src="~/Images/Gallery/0e308f79-33b6-45e8-b8f2-75753805a520.jpg">
                </a>
                    <p class="p-2 text-08" dir="rtl">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                    </p>
                    <div class="greenButton my-center">
                        <a class="col-md-5 my-center" href="">
                            مشاهده محصول
                        </a>
                    </div>
            </div>
            <div class="white-gallery-card gallery-item mt-2 mt-md-0 my-center">
                <a href="#">
                    <span class="mt-2 mytext-gray text-09">عنوان محصول</span>
                    <img src="~/Images/Gallery/0e308f79-33b6-45e8-b8f2-75753805a520.jpg">
                </a>
                    <p class="p-2 text-08" dir="rtl">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                    </p>
                    <div class="greenButton my-center">
                        <a class="col-md-5 my-center" href="">
                            مشاهده محصول
                        </a>
                    </div>
                
            </div>
            <div class="white-gallery-card gallery-item mt-2 mt-md-0 my-center">
                <a href="#">
                    <span class="mt-2 mytext-gray text-09">عنوان محصول</span>
                    <img src="~/Images/Gallery/0e308f79-33b6-45e8-b8f2-75753805a520.jpg">
                </a>
                    <p class="p-2 text-08" dir="rtl">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                    </p>
                    <div class="greenButton my-center">
                        <a class="col-md-5 my-center" href="">
                            مشاهده محصول
                        </a>
                    </div>
              
            </div>
            <div class="white-gallery-card gallery-item mt-2 mt-md-0 my-center">
                <a href="#">
                    <span class="mt-2 mytext-gray text-09">عنوان محصول</span>
                    <img src="~/Images/Gallery/0e308f79-33b6-45e8-b8f2-75753805a520.jpg">
                </a>
                <p class="p-2 text-08" dir="rtl">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                </p>
                <div class="greenButton my-center">
                    <a class="col-md-5 my-center" href="">
                        مشاهده محصول
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>

