@model List<TblBlog>
@{
    ViewData["Title"] = "محصولات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/contact.min.css" rel="stylesheet" />
<link href="~/css/Product.min.css" rel="stylesheet" />

<section class="products-section my-center">
    <h3 class="text-center title-h3 my-center mb-3 mb-md-5">
        <span class="my-center">
            محصولات
        </span>
    </h3>
    <div class="my-center">
        <div class="grid my-center" dir="rtl">
            @foreach (var item in Model)
            {
                <div class="white-gallery-card gallery-item mt-2 mt-md-0 my-center">
                    <a href="/Product/Product/@item.BlogId">
                        <span class="mt-2 mytext-gray text-09">@item.Title</span>
                        <img src="~/Images/Blogs/@item.MainImage">
                    </a>
                    <p class="p-2 text-08" dir="rtl">
                       @item.Description
                    </p>
                    <a href="/Product/Product/@item.BlogId" class="greenButton my-center mt-auto">
                        مشاهده محصول
                    </a>
                </div>
            }
        </div>
    </div>
</section>

